/*fonts
====================*/
@import url("https://fonts.googleapis.com/css2?family=Cairo:wght@400;500;600;700;800;900&family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&family=Inter:wght@300;400;500;600;700;800;900&family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Assistant:wght@400;500;600;700;800&family=Montserrat:wght@400;500;600;700;800;900&family=Nunito+Sans:opsz,wght@6..12,200;6..12,300;6..12,400;6..12,500;6..12,600;6..12,700;6..12,800;6..12,900&family=Oleo+Script:wght@400;700&family=Readex+Pro:wght@300;400;500;600;700&family=Reenie+Beanie&family=Tajawal:wght@400;500;700;800;900&display=swap");
/*body
===========================*/
body {
  font-size: 14px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  color: #252829;
  background-color: #02090d;
}
* {
  font-family: "Inter", sans-serif;
}
html {
  overflow-x: hidden;
}

::selection {
  color: var(--darkBlue);
  background-color: var(--primaryColor);
}
/* Links
  ==========================*/
a,
a:hover,
a:focus {
  text-decoration: none;
  color: inherit;
}

input:focus,
button:focus {
  outline: none;
}
.form-control:focus {
  border-color: #777;
  outline: 0;
  box-shadow: 0 0 0 0;
}
/* Headings
  ========================== */
h1,
h2,
h3,
h4,
h5,
h6 {
  display: block;
  margin: 0;
  font-family: "Raleway", sans-serif;
}

p {
  margin: 0;
}

/*Lists
  ==========================*/
ul {
  display: block;
  list-style: none;
  margin: 0;
  padding: 0;
}

/*class
  ==================*/
.w-100 {
  width: 100%;
}
.w-90 {
  width: 90%;
}
.w-85 {
  width: 85%;
}
.w-75 {
  width: 75%;
}
.fw-600 {
  font-weight: 600;
}
.fw-500 {
  font-weight: 500;
}
.fs-lg {
  font-size: 3rem;
}
.fs-5 {
  font-size: 20px !important;
}
.fs-5-1 {
  font-size: 19px !important;
}
.fs-5-2 {
  font-size: 18px !important;
}
.fs-4-1 {
  font-size: 22px !important;
}
.fs-6 {
  font-size: 16px !important;
}
.fs-6-1 {
  font-size: 15px !important;
}
.fs-6-2 {
  font-size: 15.5px !important;
}
.fs-8 {
  font-size: 0.8rem;
}
.fs-9 {
  font-size: 0.5rem;
}
.mt-7 {
  margin-top: 6rem;
}
.mt-6 {
  margin-top: 5rem;
}
.z-idx-2 {
  z-index: 2 !important;
}
.pointer {
  cursor: pointer;
}
.italic {
  font-style: italic;
}

/* ========colors======== */
.text-main-color {
  color: var(--text-main-color);
}
.bg-main-color {
  background-color: var(--bg-main-color);
}
.text-white-color {
  color: var(--text-white-color);
}
.bg-white-color {
  background-color: var(--bg-white-color);
}
.bg-gray-color {
  background-color: var(--bg-gray-color);
}
.bg-light-gray {
  background-color: var(--bg-light-gray);
}
.text-gray {
  color: var(--text-gray);
}
.text-gray500 {
  color: var(--text-gray-500);
}
.text-gray600 {
  color: var(--text-gray-600);
}
.text-gray-light {
  color: var(--text-gray-light);
}
.text-gray-900 {
  color: var(--gray-900);
}
.img-cover {
  object-fit: cover;
}
a {
  cursor: pointer;
}
hr {
  border-color: #b0b0b0;
}
a.text-main-color,
a.text-main-color:hover,
a.text-main-color:focus {
  color: var(--text-main-color);
}
.global-card {
  padding: 1rem;
  border-radius: 15px;
  border: 2px solid #60efff24;
  background-color: #0a1720;
}
.dropdown-menu {
  padding: 0.8rem !important;
}
.dropdown-menu li {
  border-radius: 5px;
}
.dropdown-item {
  padding: 0.5rem;
}
.dropdown-item:focus,
.dropdown-item:hover {
  border-radius: 5px;
  background-color: #9961c51c;
  color: var(--text-main-color) !important;
}
/* ================== */
.navbar-toggler:focus {
  box-shadow: none;
}
a.btn-solid-main,
a.btn-solid-main:hover,
a.btn-solid-main:active,
a.btn-solid-main:focus,
.btn-solid-main,
.btn-solid-main:hover,
.btn-solid-main:active,
.btn-solid-main:focus {
  min-width: 7rem;
  color: var(--text-white-color) !important;
  background: linear-gradient(
    89.8deg,
    rgba(56, 148, 255, 0.51) 27.2%,
    #d106ff 100.01%
  );
  border: 0 !important;
  border-radius: 0.5rem;
  padding: 0.65rem 1.25rem;
  font-size: 1rem;
}
a.text-white-color:hover {
  color: var(--text-white-color) !important;
}
.flag {
  width: 22px;
  height: 20px;
  object-fit: cover;
  border-radius: 2px;
}
/* ==================forms================= */
.form-control {
  background-color: #272b3071 !important ;
  border-color: #272b30 !important ;
  height: 3.4rem !important;
  border-radius: 10px !important;
  color: #e4e9ef !important;
}
.form-label {
  font-weight: 500;
  color: #e4e9ef;
}
.form-check-input:focus {
  box-shadow: none !important;
}
.form-check-input {
  width: 1.2rem !important;
  height: 1.2rem !important;
  border: 2px solid #334560 !important;
  background-color: #1c1d28;
}
.form-check-input:checked {
  background-color: #1c1d28;
}
textarea.form-control {
  min-height: 9rem;
}
