/* ---start navbar -------- */
.top-nav {
  z-index: 4;
}
.navbar {
  min-height: 90px;
  height: 90px;
  z-index: 4;
}
#navbar.scrolled {
  background-color: #111111 !important;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.navbar-brand img {
  width: 150px;
  height: 60px;
  object-fit: fill;
}
.logo {
  width: 150px;
  height: 60px;
  object-fit: cover;
}
.navbar .navbar-nav .nav-link {
  font-size: 1.1rem;
  color: #ffffff;
}
.navbar .dropdown-menu {
  right: 0 !important;
  left: inherit !important;
}
.navbar-nav .nav-link.active {
  /* color: var(--text-main-color) !important; */
  /* font-weight: bold !important; */
}
.search-group .form-control,
.search-group .input-group-text {
  border: 0;
  border-bottom: 1px solid #10394b !important;
  border-radius: 0 !important;
}
.search-group .input-group-text2 {
  border: 0 !important;
}
.sidebar {
  position: fixed;
  top: -100%;
  left: 0%;
  width: 100%;
  height: auto;
  background-color: #fff;
  transition: all 0.3s ease;
  z-index: 2;
}

.sidebar.active {
  /* left: 0; */
  top: 107px;
}

.sidebar ul {
  padding: 0;
  list-style: none;
}

.sidebar a {
  display: block;
  padding: 10px 15px;
  text-decoration: none;
  color: #333;
  border-radius: 7px;
  text-align: center;
}
.sidebar a.active-link,
.sidebar a.active {
  background-color: var(--bg-main-color) !important;
  color: var(--text-white-color) !important;
}
/* ---end navbar -------- */
/* hero-section */
#hero-section {
  min-height: 100vh;
  background-image: url(../images/home/hero-bg.svg);
  background-position: 50%;
  background-repeat: no-repeat;
}
.contact-btn,
.contact-btn:hover {
  background-color: #9961c5;
}
.register-btn,
.register-btn:hover {
  background-color: #333c46;
}
#hero-section .title {
  font-size: 5rem;
}
/* ======ABOUT US======= */
#about-us .about-content {
  background-image: url(../images/home/about-bg.svg);
  background-repeat: no-repeat;
  background-position: 75% 72%;
  border: 1px solid var(--bg-white-color);
  border-radius: 15px;
  overflow: hidden;
}
#about-us .about-second-bg {
  background-image: url(../images/home/about-second-bg.svg);
  background-repeat: no-repeat;
  background-position: top left;
  background-size: 80px;
}
#about-us .about-third-bg {
  background-image: url(../images/home/about-third-bg.svg);
  background-repeat: no-repeat;
  background-position: bottom right;
  background-size: 80px;
}
/* =========VISION AND MISSION ==========*/
#vision-mission {
  padding-top: 5rem;
  background-image: url(../images/home/tech-icon.svg);
  background-position: right;
  background-repeat: no-repeat;
  background-size: 25%;
}
#vision-mission .vision,
#vision-mission .mission {
  width: 100px;
  min-width: 100px;
  height: 100px;
  border: 2px solid #343957;
}
/* ============Objectives============ */
.header-title {
  background-image: url(../images/home/objective-vector.svg);
  width: fit-content;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: bottom;
}
#objectives .start-ups {
  color: #1597a6;
}
#objectives .network {
  color: #c294ff;
}
#objectives .capacity {
  color: #ffba7a;
}
#objectives .market {
  color: #96568f;
}
#objectives .objectives-info {
  border: 2px solid #2f3c3e;
  border-radius: 20px;
}
#objectives .objective-content {
  background-image: url(../images/home/objectives/line.svg);
  background-repeat: no-repeat;
  background-position: right;
  background-size: contain;
}
#objectives .objective-content:nth-of-type(4) {
  background-image: none;
}
/* ============benefits========== */
#benefits .benefit-content {
  border: 1px solid #ffffff69;
  background: linear-gradient(0deg, #0c1a22, #0c1a22),
    linear-gradient(
      180deg,
      rgba(255, 255, 255, 0.41) 0%,
      rgba(255, 255, 255, 0) 100%
    );
  border-radius: 13px;
  padding: 2rem 1.5rem;
}
.benefits-info {
  background-image: url(../images/home/benefits/benefits-bg.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 300px;
}

/* ============polarize-startups =========*/
#polarize-startups .startups-content {
  border: 2px solid #60efff24;
  margin-left: -50px;
  padding: 1.2rem 1.2rem 1.2rem 3.8rem;
  background-color: #0a1720;
}
#polarize-startups .number {
  width: 80px;
  min-width: 80px;
  height: 80px;
  z-index: 1;
}
.number-1 {
  background-color: #1597a6;
}
.number-2 {
  background-color: #6078b8f2;
}
.number-3 {
  background-color: #c579be;
}
/* =========join========= */
#join .join-content {
  padding: 0.7rem;
}
#join .join-content-1 {
  background: linear-gradient(
    89.8deg,
    rgba(255, 255, 255, 0.51) 0.15%,
    rgba(21, 151, 166, 0.37) 100.01%
  );
}
#join .join-content-2 {
  background: linear-gradient(
    89.8deg,
    rgba(255, 255, 255, 0.51) 0.15%,
    #5142f1 100.01%
  );
}
#join .join-content-3 {
  background: linear-gradient(
    89.8deg,
    rgba(255, 255, 255, 0.51) 27.2%,
    #a83e9e 100.01%
  );
}
#join .join-content-4 {
  background: linear-gradient(
    89.8deg,
    rgba(227, 233, 247, 0.51) 0.15%,
    rgba(185, 110, 22, 0.79) 100.01%
  );
}
#join .number {
  width: 65px;
  min-width: 65px;
  height: 65px;
}
/* =========== */
#footer {
  background-color: var(--bg-main-color);
}
#footer .footer-email {
  color: #ffffff9e;
}
#footer .footer-email .footer-email-link {
  color: #59a0e3;
}
.hr {
  border-color: #ccc;
}

.buttonUp {
  position: fixed;
  bottom: 30px;
  right: 30px;
  padding: 10px;
  border-radius: 50%;
  border: transparent;
  color: #fff;
  font-weight: bold;
  display: none;
  z-index: 33333;
  background-color: #10394b !important;
}
