/* ---start navbar -------- */
.top-nav {
  z-index: 4;
}
.navbar {
  min-height: 90px;
  height: 90px;
  z-index: 4;
}
.navbar-brand img {
  width: 150px;
  height: 60px;
  object-fit: fill;
}
.logo {
  width: 150px;
  height: 60px;
  object-fit: cover;
}
.navbar .navbar-nav .nav-link {
  font-size: 1.1rem;
  color: #ffffff;
}
.navbar .dropdown-menu {
  right: 0 !important;
  left: inherit !important;
}
.navbar-nav .nav-link.active {
  /* color: var(--text-main-color) !important; */
  /* font-weight: bold !important; */
}
.search-group .form-control,
.search-group .input-group-text {
  border: 0;
  border-bottom: 1px solid #10394b !important;
  border-radius: 0 !important;
}
.search-group .input-group-text2 {
  border: 0 !important;
}
.sidebar {
  position: fixed;
  top: -100%;
  left: 0%;
  width: 100%;
  height: auto;
  background-color: #fff;
  transition: all 0.3s ease;
  z-index: 2;
}

.sidebar.active {
  /* left: 0; */
  top: 107px;
}

.sidebar ul {
  padding: 0;
  list-style: none;
}

.sidebar a {
  display: block;
  padding: 10px 15px;
  text-decoration: none;
  color: #333;
  border-radius: 7px;
  text-align: center;
}
.sidebar a.active-link,
.sidebar a.active {
  background-color: var(--bg-main-color) !important;
  color: var(--text-white-color) !important;
}
/* ---end navbar -------- */
/* hero-section */
#hero-section {
  min-height: 100vh;
  background-color: #0a1f2b;
  background-image: url(../images/home/hero-bg.svg);
  background-position: center top;
  background-repeat: no-repeat;
}
.contact-btn,
.contact-btn:hover {
  background-color: #9961c5;
}
.register-btn,
.register-btn:hover {
  background-color: #333c46;
}
#hero-section .title {
  font-size: 5rem;
}
/* =========== */
#footer {
  background-color: var(--bg-main-color);
}
#footer .footer-email {
  color: #ffffff9e;
}
#footer .footer-email .footer-email-link {
  color: #59a0e3;
}
.hr {
  border-color: #ccc;
}

.buttonUp {
  position: fixed;
  bottom: 30px;
  right: 30px;
  padding: 10px;
  border-radius: 50%;
  border: transparent;
  color: #fff;
  font-weight: bold;
  display: none;
  z-index: 33333;
  background-color: #10394b !important;
}
