.me-4 {
  margin-left: 1.5rem !important;
}
.ms-3 {
  margin-right: 1rem !important;
}
.ms-auto {
  margin-right: auto !important;
  margin-left: 0 !important;
}
.scaleX-rtl {
  transform: scaleX(-1) !important;
}
a,
a:hover,
a:focus {
  text-decoration: none;
  color: inherit;
}
.buttonUp {
  left: 30px !important;
  right: inherit !important;
}
#vision-mission {
  background-image: url(../images/home/tech-icon-rtl.svg) !important;
  background-position: left;
}
#objectives .objective-content {
  background-position: left;
}
#polarize-startups .startups-content {
  margin-right: -50px !important;
  margin-left: 0 !important;
}
@media (min-width: 768px) {
}
@media (max-width: 565px) {
  #polarize-startups .startups-content {
    margin: 0 !important;
  }
}
